@charset "UTF-8";
/* CSS Document */

/* Torey Decker */

/* Header */
header{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 500;
	box-shadow: 0 2px 10px #cecece;
	padding: 15px 0 8px 0;
	background-color: #3C6C91;
}

.branding {
	background: url("../images/yosemitelogo.jpg") no-repeat;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	float: left;
	display: block;
	text-indent: -999em;
	overflow: hidden; }


nav{
	margin-top: 35px;
	float: right;	
}

nav ul{
	list-style-type: none;
	text-align: right;
}




nav li{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size:.8em;
	letter-spacing: .1em;
	text-transform: uppercase;
	display: inline-block;
	padding-left: 20px;
	cursor: pointer;	
}

nav li a:link {
	color: #091c5a;
	text-decoration: none;
}

nav li a:visited {
	color: #091c5a;
	text-decoration: none;
}

nav li a:hover {
	color: #ffffff;
	text-decoration: none;
}

nav li a:active {
	color: #091c5a;
	text-decoration: none;
}


/* HERO Image*/
.hero-img{
	width: 940px;
	max-height: 850px;
	overflow: hidden;
	
}

video{ 
	min-height: 580px
}

.image-overlay {
	position: absolute;
	top: 136px;
	height: 550px;
	width: 940px;
	z-index: 100;
	background: url("../images/imac.png") no-repeat;
	background-position: bottom;
	overflow: visible;}

.image-overlay h1 {
	font-weight: 100;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}


/* introduction */
.introduction{
	width: 100%;
	padding: 100px 0 90px 0;
	background-color: #fff;
	float:left;
}


.intro-content h3{
	margin-top: 10px;
	color:#000;
	
	
}


/* Cards */
.cards{
		width: 100%;
		padding: 100px 0;
		background: #EEEEEE;
		float: left;
		text-align: center;
	}
	.container{
		width: 940px;
		margin: 0 auto;
	}
	
	.section-head{
		font-family: 'Roboto Slab', serif;
		font-size: 2em;
		font-weight: 100;
		padding-bottom: 20px; 
	}
	.section-copy{
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		font-size: 1em;
		
	padding: 0 100px 20px;
}
	
	.fa-usb, .fa-balance-scale, .fa-cogs {
		font-size: 6em;
		color:#FFFFFF; 
		text-shadow: 2px 2px 5px #6e6e6e;
		margin-bottom: 10px;
	}

	
	.card-description {
		font-family: 'Roboto', sans-serif;
		background: #FFFFFF;
		padding: 40px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
		border-top-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
	
	.columns_3{
		width: 300px;
		float: left;
		margin-right: 20px;
		
	}
	.columns_3:last-of-type {
		margin-right: 0;
	}


/* about Us*/ 

.about h2 {
	text-align: center;
}

.about {
	width: 100%;
	padding: 100px 0;
	background-color: #fff;
	float: left;
}

.about h4 {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	line-height: 1;
	
}


.drk-otl-btn {
	display: inline-block;
	padding: 0 15px;
	text-align: center;
	font-weight: 300;
	font-size: 1em;
	line-hight: 36px;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
	margin: 20px 0; 
}

.drk-otl-btn:link {
	color: #000;
	text-decoration: none;
}

.drk-otl-btn:hover {
	color: #000;
	background-color: aquamarine;	
}

.testimonials{
	width: 100%;
	padding: 100px 0;
	background-color: #fff;
	text-align: center;
	float: left;	
}


.testimonials h4{
	margin-bottom: 10px;
}

.testimonials img{
	margin-bottom: 10px;
	border-radius: 50%;
}



/* available features*/ 

.features h2{
	text-align: center;
}
.features{
	width: 100%; 
	padding: 100px 0;
	background-color: #cccccc;
	float: left;
}

.feature-items {
	margin-bottom: 15px;
}

.feature-items h4{
	text-align: left;
	margin-left: 60px; 
}

.feature-items p{
	margin-bottom: 20px;
	margin-left: 60px;
	text-align: left;
}

.feature-items img{
	margin-top: 5px;
}

.feature-items a:link{
	color: #000000;
	text-decoration: none;
}
.feature-items a:visited{
	color: #000000;
	text-decoration: none;
}

.feature-items a:hover{
	color: #ff0004;
	text-decoration: none;
}

.feature-items a:active{
	color: #ff0004;
	text-decoration: none;
}

.fa-github,
.fa-html5,
.fa-wrench,
.fa-file-pdf-o,
.fa-codepen{
	color: #696969;
	font-size: 2.5em;
	margin-bottom: 10px;	
}

.fa-css3{
	color: #696969;
	font-size: 2.3em;
	margin-bottom: 10px;
	
	
}



/*-----Locations-----*/

.locations h2{
	text-align: center;
}

#locations {
	width: 100%;
	padding:100px;
	background-color:#fff;
	float: left; 
	text-align: left;
}

.locations h4 {
	margin-bottom: 10px;
	

}

.locations p {
	font-size: .9em;
	line-height: 1.3;
}

.locations img { 
	margin-bottom: 10px;
}


.location-btn a:link {
	display: block;
	outline: 0;
	border-radius: 0px;
	padding: 5px 15px;
	width: 100px;
	background-color: #fff;
	font-size: .8em;
	font-weight: 500; 
	letter-spacing: .03px;
	text-indent: .03px;
	text-decoration: none;
	text-transfom: uppercase;
	text-align: center;
	margin-top: 20px;
	border: 1px solid #000;
	margin-left: auto;
	margin-right: auto;
}



.location-btn a: visited {
	color: #fff;
	text-decoration: none;
}


.location-btn a: hover {
	color: #fff;
	text-decoration: none;
	background-color: #434141;
}






#contact {
	width: 100%;
	padding: 100px 0;
	background: #efefef;
	float: left;
}

#contact h2 {
	padding-bottom: 20px;
	text-align: center;
}

#contact p {
	padding: 20px;
}

.contact-form img{
	width: 460px;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
	font-weight: 100;
	color: #ffffff;
}

.contact-form input [type="text"],
.contact-form input [type="email"],
.contact-form text area,
.contact-form select {
	border: 1px solid #DADADA;
	color: #888;
	height: 35px;
	margin-bottom: 25px;
	outline: 0 none;
	padding: 5px 5px 5px 10px;
	width: 460px;
	font-weight: 100;
}


.contact-form textarea {
	height: 200px;
}

#message{
	height: 262px;
}

.contact-form select {
	text-indent: 0.01px;
	text-overflow: '';
	width: 100%;
	height: 35px;
	
}

.city{
	text-transform: uppercase;
	font-weight: 900;
}

.button {
	display: block;
	float: right;
	outline: 0;
}

.contact-form input.button {
	width: 100px;
	height: 40px;
	color: #888;
	border: 1px solid #ffffff;
	font-size: 1.1em;
	border-radius: 35px;
}


.contact-form input.button:hover {
	color: #000000;
	border: 1px solid #000000;
}